html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

#test-canvas {
    width: 735px;
    height: 375px;
}

#ball-canvas {
    position: absolute;
    pointer-events: none;
}

#canvas-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}